<!DOCTYPE html>
<html>
  <head>
    <title>Recipe Box</title>
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <base href="/" />
  </head>
  <body>
    <h1><a href="/">Recipe Box</a></h1>
    {{{body}}}
  </body>
</html>
