<!DOCTYPE html>
<html>
  <head>
    <title>Teacher's InstaPost</title>
  <link rel="stylesheet" href="/cool/styles.css" />
  <script src="/cool/script.js"></script>
  </head>
  <body>
    <h1>Add Your InstaPost</h1>
    {{{body}}}
  </body>
</html>
